*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
.figures{
    margin:100px 100px;
}

.circle-first {
    display: inline-block;
    width: 50px;
    height: 50px;     
    border-radius: 50%;
    background: red;
    position: relative;
    top: 25px;
    right: 10px;
}

.circle-first:hover{
    background-color: blueviolet;
    z-index: 9999;
}

.circle-second {
    display: inline-block;
    width: 50px;
    height: 50px;     
    border-radius: 50%;
    background: red;
    position: relative;
    top: 25px;
    left: 10px;
}

.circle-second:hover{
    background-color: green;
    z-index: 9999;
}

.circle-third {
    display: inline-block;
    width: 50px;
    height: 50px;    
    border-radius: 50%;
    background: red;
    position: relative;
    bottom: 25px;
    right: 10px; 
}

.square-big {
    display: inline-block;
   	width: 75px;
	height: 75px;
	background: #00bfff;
    position: relative;
    z-index: 1;
}

.square-big:hover{
    background-color: pink;    
} 

.square-mini{
    display: inline-block;
	width: 35px;
	height: 35px;
	background: orange;
    border-radius: 15%; 
    position: relative; 
    top: 20px;     
}
.square-mini:hover{
    background-color: pink;
}

.circle-third:hover{
    background-color:darkolivegreen;
    z-index: 9999;
}

.circle-fourth {
    display: inline-block;
    width: 50px;
    height: 50px;     
    border-radius: 50%;
    background: red;
    position: relative;
    bottom: 25px;
    left: 15px;
}

.circle-fourth:hover{
    background-color: black;
    z-index: 9999;
}






